fastapi
uvicorn[standard]
SQLAlchemy
pydantic
pydantic-settings
email-validator
python-jose[cryptography]
passlib[bcrypt]
psycopg2-binary
python-multipart
python-dotenv
pytest
requests
websockets
openai
boto3
python-socketio[asyncio_client]
python-socketio[asgi]
